 .u-section-1 {
  background-image: url("images/vv.jpg");
  background-position: 50% 50%;
  min-height: 661px;
}

.u-section-1 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2)  + 1140px);
  margin: 0 0 0 auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 674px;
}

.u-section-1 .u-container-layout-1 {
  padding: 26px 25px;
}

.u-section-1 .u-text-1 {
  font-weight: 300;
  font-size: 3rem;
  margin: 61px 95px 0 15px;
}

.u-section-1 .u-text-2 {
  text-align: left;
  font-size: 1.25rem;
  line-height: 1.8;
  margin: 26px 95px 0 15px;
}

.u-section-1 .u-image-1 {
  width: 85px;
  height: 85px;
  margin: 20px 448px 0 15px;
}

.u-section-1 .u-image-2 {
  width: 85px;
  height: 85px;
  margin: -85px auto 0 127px;
}

.u-section-1 .u-text-3 {
  font-size: 0.875rem;
  margin: 20px 95px 0 15px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 661px;
}

.u-section-1 .u-container-layout-2 {
  padding: 14px 17px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 427px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 556px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 60px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 10px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
    margin-left: 0;
    margin-right: 10px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 335px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    background-position: 32.84% 50%;
    min-height: 545px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 806px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 50px;
    padding-right: 180px;
    padding-bottom: 50px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 835px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 597px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 70px;
    padding-right: 100px;
    padding-left: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 626px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 575px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 390px;
    margin-top: 9px;
    margin-right: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 509px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 26px 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: auto;
    line-height: 0.88;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 19px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 21px;
    margin-right: 265px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 103px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 58px;
  }
}